src/random_player
src/GraphicalBoard.pyc
src/HumanPlayer.pyc
src/LogicalBoard.pyc
src/PlayerCommunicator.pyc
src/Referee.pyc
src/__pycache__/
src/constants.pyc
src/log/
.idea/
cmake-build-debug/
venv/
**/*.DS_Store
**/*__init__.py
src/CMakeCache.txt
src/CMakeFiles/
src/cmake_install.cmake
src/jugador_test
src/Makefile
