src/random_player
src/GraphicalBoard.pyc
src/HumanPlayer.pyc
src/LogicalBoard.pyc
src/PlayerCommunicator.pyc
src/Referee.pyc
src/__pycache__/
src/constants.pyc
src/log/
.idea/
cmake-build-debug/
venv/
**/*.DS_Store
**/*__init__.py
src/CMakeCache.txt
src/CMakeFiles/
src/cmake_install.cmake
src/jugador_test
src/Makefile
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
lib/googletest/CMakeFiles/
lib/googletest/CTestTestfile.cmake
lib/googletest/Makefile
lib/googletest/cmake_install.cmake
lib/googletest/googlemock/CMakeFiles/
lib/googletest/googlemock/CTestTestfile.cmake
lib/googletest/googlemock/Makefile
lib/googletest/googlemock/cmake_install.cmake
lib/googletest/googlemock/gtest/
jugador_greedy
jugador_test
lib/googletest/googlemock/libgmock.a
lib/googletest/googlemock/libgmock_main.a
random_player
tests
random_player_2
greedy_player_2
_*
